## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,78.80,94,20,5.75,few clouds
1,1,Krasnoselkup,RU,65.7000,82.4667,1.74,98,71,9.17,broken clouds
2,2,Lins,BR,-21.6786,-49.7425,90.59,40,77,3.65,broken clouds
3,3,East London,ZA,-33.0153,27.9116,68.00,60,0,24.16,clear sky
4,4,Tessalit,ML,20.1986,1.0114,88.05,4,0,16.96,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 75
What is your maximum temperature preference?
max_temp: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,78.80,94,20,5.75,few clouds
4,4,Tessalit,ML,20.1986,1.0114,88.05,4,0,16.96,clear sky
9,9,Basco,PH,20.4487,121.9702,78.89,86,11,15.82,few clouds
10,10,Georgetown,MY,5.4112,100.3354,86.00,74,20,10.36,few clouds
16,16,Lorengau,PG,-2.0226,147.2712,79.72,84,98,8.19,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Pilar,BR,-9.5972,-35.9567,78.80,94,75,12.66,mist
681,681,Olinda,BR,-8.0089,-34.8553,82.40,65,40,9.22,scattered clouds
683,683,Champerico,GT,14.3000,-91.9167,84.20,65,0,5.01,clear sky
685,685,Garh Maharaja,PK,30.8339,71.9053,83.68,24,1,6.78,clear sky
686,686,Tsaratanana,MG,-16.7833,47.6500,76.53,88,19,3.36,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,78.80,94,20,5.75,few clouds
4,4,Tessalit,ML,20.1986,1.0114,88.05,4,0,16.96,clear sky
9,9,Basco,PH,20.4487,121.9702,78.89,86,11,15.82,few clouds
10,10,Georgetown,MY,5.4112,100.3354,86.00,74,20,10.36,few clouds
16,16,Lorengau,PG,-2.0226,147.2712,79.72,84,98,8.19,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Pilar,BR,-9.5972,-35.9567,78.80,94,75,12.66,mist
681,681,Olinda,BR,-8.0089,-34.8553,82.40,65,40,9.22,scattered clouds
683,683,Champerico,GT,14.3000,-91.9167,84.20,65,0,5.01,clear sky
685,685,Garh Maharaja,PK,30.8339,71.9053,83.68,24,1,6.78,clear sky
686,686,Tsaratanana,MG,-16.7833,47.6500,76.53,88,19,3.36,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,78.80,few clouds,-21.2000,-175.2000,
4,Tessalit,ML,88.05,clear sky,20.1986,1.0114,
9,Basco,PH,78.89,few clouds,20.4487,121.9702,
10,Georgetown,MY,86.00,few clouds,5.4112,100.3354,
16,Lorengau,PG,79.72,overcast clouds,-2.0226,147.2712,
25,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,
38,Rocha,UY,76.87,scattered clouds,-34.4833,-54.3333,
43,Macapa,BR,89.60,broken clouds,0.0389,-51.0664,
48,Soyo,AO,87.80,few clouds,-6.1349,12.3689,
52,Bathsheba,BB,84.20,scattered clouds,13.2167,-59.5167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))